# ignore any files in directories named __pycache__
__pycache__/

# ignore ALL .sqlite3 files
*.sqlite3

# ignore migrations
*/migrations/

#Type this into terminal for each of the above if you're already tracking them (Katie, you probably are for all of them)
#git rm --cached exFileName