# ignore any files in directories named __pycache__
__pycache__/

# ignore ALL .log files
*.sqlite3

#Type this into terminal if you want to ignore a file you're already tracking
#git rm --cached exFileName