{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title> Allergy Alarm </title>
    <link href="static/allergy_alarm_app/css/allergy_styles.css" rel="stylesheet">
    <link href="static/allergy_alarm_app/css/bootstrap.min.css" rel="stylesheet" >
    <link href="static/allergy_alarm_app/css/main.css" rel="stylesheet" >
</head>
<body>

<h1>Allergy Alarm</h1>

<p>Welcome, {{ request.user.username }}</p>

{% comment %} <a href="dashboard">
    <button>Dashboard</button>
</a>
{% endcomment %}

<button type="button" class="btn btn-primary" onclick="location.href='chart'">Data</button>

<a href="logout">
    <button>Log Out</button>
</a>


</body>
</html>