<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart.js with Django</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <canvas id="myChart" width="400" height="200"></canvas>
    <script>
        var sensorType = "{{ sensorType }}";
        var url = "{% url 'chart-data' 'temp' %}".replace(/temp/, sensorType);
        fetch(url)
            .then(response => response.json())
            .then(data => {
                const ctx = document.getElementById('myChart').getContext('2d');
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: '',
                            data: data.values,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                display: false
                            },
                        },
                        scales: {
                            y: {
                                title: {
                                  display: true,
                                  align: 'center',
                                  text: data.ylabel,
                                  padding: {
                                    top: 10,
                                    bottom: 5,
                                    left: 0,
                                    right: 0,
                                  },
                                },
                                beginAtZero: true,
                            }
                        }
                    }
                });
            });
    </script>
</body>
</html>
